@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
/* rating */
.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
    padding: 0px 0;
}
.rating-css input {
    display: none;
}
.rating-css input + label {

    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}
.rating-css input:checked + label ~ label {
    color: #b4afaf;
}
.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

/* End of Star Rating */
.checked{
    color: #ff8300;
}
.nochecked{
    color: #b4afaf;
}
.ya-share2__item {
    padding: 0em 0px 0px 45px;

}
.ya-share1__item {
    padding: 0.5em 20px 11px 0px;
    color: rgba(62, 133, 241, 0.87);

}
.price {
    padding: 70em 60px 60px 60px;
}

.cartbutton:hover {
    background-color: #d35f0c;
}
.cartbutton {
    /*padding: 70em 2000px 60px 60px;*/
    /*float: left;*/
    color: #1e1212;
    background-color: #ec772d;

}

.bt{
   margin-left: auto;
}

.Tangerine{
    font-family: 'Caveat', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}

/*Promotion*/
/*.bd_item {*/
/*    position: relative;*/

/*    overflow: hidden;*/
/*}*/
/*.bd_item_vip:after {*/
/*    content: 'Акція!!!';*/
/*    background: #fb1717;*/
/*    z-index: 1500;*/
/*    padding-top: 4px;*/
/*    color: white;*/
/*    font-family: Tangerine;*/
/*    letter-spacing: 1px;*/
/*    font-weight: 400;*/
/*    text-transform: none;*/
/*    text-align: center;*/
/*    display: inline-block;*/
/*    width: 200px;*/
/*    font-size: 16px;*/
/*    line-height: 14px;*/
/*    opacity: 0.7;*/
/*    -webkit-transform-origin: center center;*/
/*    -ms-transform-origin: center center;*/
/*    transform-origin: center center;*/
/*    top: 50px;*/
/*    border-bottom: 2px solid #7A3521;*/
/*    right: -38px;*/
/*    -webkit-transform: rotate(45deg);*/
/*    -ms-transform: rotate(45deg);*/
/*    transform: rotate(45deg);*/
/*    position: absolute;*/
/*}*/
/*new*/
/*.bd_item {*/
/*    position: relative;*/

/*    overflow: hidden;*/
/*}*/
/*.bd_item_vip:after {*/
/*    content: 'Новинка!!!';*/
/*    background: #2fc102;*/
/*    z-index: 1500;*/
/*    padding-top: 10px;*/
/*    color: white;*/
/*    font-family: Tangerine;*/
/*    letter-spacing: 4px;*/
/*    font-weight: 400;*/
/*    text-transform: none;*/
/*    text-align: center;*/
/*    display: inline-block;*/
/*    width: 200px;*/
/*    font-size: 16px;*/
/*    line-height: 16px;*/
/*    opacity: 0.9;*/
/*    -webkit-transform-origin: center center;*/
/*    -ms-transform-origin: center center;*/
/*    transform-origin: center center;*/
/*    top: 50px;*/
/*    border-bottom: 1px solid #7A3521;*/
/*    right: -38px;*/
/*    -webkit-transform: rotate(45deg);*/
/*    -ms-transform: rotate(45deg);*/
/*    transform: rotate(45deg);*/
/*    position: absolute;*/
/*}*/
